.App {
  font-size: 24px;
  text-align: center;
}
.App > p {
  margin: 3rem auto;
  width: 380px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  font-size: 5rem;
  margin: auto;
  white-space: wrap;
}
.App-link {
  color: #61dafb;
}
